<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
	<input type="button" onclick="capcha()" value="네이버 캡챠" /><br/><br/>
	<img id="img_ing"><br/>
	<div id="hideshow" style="display: none;">
		<input type="text" id="val"/> 
		<input type="button" onclick="check()" value="전송"/> 
	</div>
	<input type="hidden" id="imgKey" value="" />
</body>
<script type="text/javascript">
	function capcha(){
		$.ajax({
		    type: 'get',
		    url: '/key',
		    dataType: "json",
		    success: function(data){
				$("#imgKey").val(data.key);
		    	$.ajax({
					type: 'get',
					url: '/image',
					data : {'imgkey' : data.key},
					dataType: 'text',
					success: function(data){
						$("#img_ing").attr("src", data);
						$("#hideshow").show();
					}
				});
		    },
		    error: function(request, status, error){
		        alert('ajax 통신 실패');
		        alert(error);
		    }
		});
	}
	
	function check(){
		$.ajax({
			type: 'get',
			url: '/compare',
			data : {
				'imgkey' : $("#imgKey").val()
				, 'value' : $("#val").val()
			},
			dataType: 'json',
			success: function(data){
				if(data.result == true){
					alert("인증 성공!");
				} else {
					alert("인증 실패!");
				}
			}
		});
	}
</script>
</html>